{% extends "base/base.html" %}
{% load static %}

{% block title %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}
    <div class="offer-container">
        <div class="offer-details">
            <h3>Bundle: <span class="font2">{{ object.title }}</span></h3>
            <h6>Number of books: {{ object.books.count }}</h6>
            {% for book in object.books.all %}
                <h5>{{ book.name }}</h5>
                <small class="text-muted">By: {{ book.author }}</small>
                <div class="book-img">
                    <img src="{{ book.image.url }}" alt="">
                    <hr>
                </div>
            {% endfor %}

            <button type="button" class="btn btn-success">
                Price: <span class="badge badge-light">{{ object.price }}</span>
            </button>
            <small class="text-muted">Contact owner to claim offer.</small>
        </div>
        <div class="offer-user-details">
            <h3 class="owner-name">Owner: <span class="font2">
                <a href="{% url 'users-profile' username=object.user.username %}">{{ object.user.username }}</a>
            </span></h3>
            <p>
                <b>Phone:</b>
                93423423543
            </p>
            <p>
                <b>Address: </b>
                {{ object.user.address }}
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eligendi esse maiores totam voluptate! Animi id maxime natus omnis provident quasi quod velit vitae?
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.015528413673!2d77.57350981534285!3d12.906722919789418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae156f06c1a795%3A0x13b05949b1a7b655!2sSindhoor%20Convention%20Centre!5e0!3m2!1sen!2sin!4v1614456869906!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>

{% endblock %}