{% extends "base/base.html" %}
{% load static %}

{% block title %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}
    <div class="offer-container">
        <div class="offer-details">
            <h3>Book: <span class="font2">{{ object.book.name }}</span></h3>
            <small class="text-muted">By: {{ object.book.author }}</small>
            <div class="book-img">
                <img src="{{ object.book.image.url }}" alt="">
            </div>
            <button type="button" class="btn btn-success">
                Price: <span class="badge badge-light">{{ object.price }}</span>
            </button>
            <small class="text-muted">Contact owner to claim offer.</small>
        </div>
        <div class="offer-user-details">
            <h3 class="owner-name">Owner: <span class="font2">
                <a href="{% url 'users-profile' username=object.user.username %}">{{ object.user.username }}</a>
            </span></h3>
            <p>
                <b>Phone:</b>
                {{ object.user.profile.phone }}
            </p>
            <p>
                <b>Address: </b>
                {{ object.user.profile.address }}
            </p>
            <iframe
              width="600"
              height="450"
              style="border:0"
              loading="lazy"
              allowfullscreen
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCPL-_HBZZBFvsCTM3kWzShWgqO-4MkGVY
                &q={{ object.user.profile.address }}">
            </iframe>
        </div>
    </div>

{% endblock %}