{% extends "base/base.html" %}
{% load static %}
{% block title %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}
<div class="main-container">
    <section class="container">

        <div class="profile">

            <div class="profile-pic">
                <img src="Screenshot (118).png" alt="">
            </div>

            <div>
                <div class="user-settings">
                    <h1 class="username">Your Name</h1>
                    {% if request.user.username == username %}
                        <div class="profile-access-btns">
                            <div>
                                <button class="btn btn-dark">Edit Profile</button>
                            </div>
                            <div>
                                <button class="btn btn-dark">
                                    <a href="{% url 'store-single-offer' %}">Create book offer</a>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn-dark">
                                    <a href="{% url 'store-single-offer' %}">Create bundle offer</a>
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <ul>
                    <li id="username">Name</li>
                    <li>Email</li>
                    <li>Phone Number</li>
                    <li>Bio</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="container2">
        <ul class="elements">
            <li data-visible="book-boxes" data-invisible="offer-boxes,trade-boxes" id="books-tab"><i
                    class="fas fa-book"></i>Book Offers</li>
            <li data-visible="offer-boxes" data-invisible="book-boxes,trade-boxes" id="offers-tab"><i
                    class="fab fa-buffer"></i>Bundle Offers</li>
            <li data-visible="trade-boxes" data-invisible="book-boxes,offer-boxes" id="trades-tab"><i
                    class="far fa-handshake"></i>Trades</li>
        </ul>
        {% for offer in single_offers %}
            <div class="boxes book-boxes">
                <div class="tile">
                    <h5>
                        <i class="fas fa-book-open"></i>
                        {{ offer.book.name }}
                    </h5>
                    <small class="text-muted">By: {{ offer.book.author }}</small>
                    <br>
                    <button type="button" class="btn btn-success">
                        Price: <span class="badge badge-light">{{ offer.price }}</span>
                    </button>
                    {% if request.user.username == username %}
                        <br>
                        <button type="button" class="btn btn-primary">
                            <a href="{% url 'store-edit-single' pk=offer.pk %}">Edit</a>
                        </button>
                        <br>
                        <button type="button" class="btn btn-danger">
                            <a href="{% url 'store-delete-single' pk=offer.pk %}">Delete</a>
                        </button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% for offer in bundle_offers %}
            <div class="boxes offer-boxes">
                <div class="tile">
                    <h5>
                        <i class="fas fa-book-open"></i>
                        {{ offer.title }}
                    </h5>
                    <small class="text-muted">listed on: 2:45 PM, 26th January 2020</small>
                    <br>
                    <button type="button" class="btn btn-success">
                        Price: <span class="badge badge-light">{{ offer.price }}</span>
                    </button>
                </div>
            </div>
        {% endfor %}

        <div class="boxes trade-boxes">
            <div class="tile">
                trade Tile1
            </div>
        </div>
    </section>
</div>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}