{% extends "base/base.html" %}
{% load static %}

{% block title %}
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block content %}
    <div class="xyz-container">
        <div class="img-div">
            <img src="{% static 'images/login-pic.jpg' %}" alt="">
        </div>
        <div class="form-div">
            <form method="POST">
                {% csrf_token %}
                <legend>Registration form</legend>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Full Name</label>
                        <input type="text" class="form-control" name="fullname" placeholder="Full name">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="">Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Email">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password">
                    </div>
                </div>
                <div id="address" class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" name="address" placeholder="1234 Main St">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity" placeholder="City" name="city">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Phone No</label>
                        <input type="text" class="form-control" id="inputZip" placeholder="num" name="phone">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Pin</label>
                        <input type="text" class="form-control" id="inputZip" placeholder="Pin" name="pincode">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign up</button>
            </form>
        </div>
    </div>

{% endblock %}
