{% extends "base/base.html" %}
{% load static %}

{% block title %}
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">

{% endblock %}

{% block content %}
    <div class="xyz-container">
        <div class="img-div">
            <img src="{% static 'images/login-pic.jpg' %}" alt="">
        </div>
        <div class="form-div">
            <form method="POST">
                {% csrf_token %}
                <legend style="font-size: 26px;">Sign In</legend>
                <div class="form-row">
                    <div class="form-group col-md-7">
                        <label for="Username">Username</label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Username" name="username">
                    </div>
                    <div class="form-group col-md-7">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="password">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign In</button>
            </form>
        </div>
    </div>
{% endblock %}