<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fury-User Details</title>
    <link rel="stylesheet" href="signin.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <style>
        .form-div {
            padding-top: 70px;
        }

        .form-row {
            display: flex;
            flex-direction: column;
            font-size: 22px;
            font-weight: 600;
        }
    </style>
</head>

<body>
    <div class="xyz-container">
        <div class="img-div">
            <img src="pic.jpg" alt="">
        </div>
        <div class="form-div">
            <form>
                <legend style="font-size: 26px;">Sign In</legend>
                <div class="form-row">
                    <div class="form-group col-md-7">
                        <label for="Username">Username</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Username">
                    </div>
                    <div class="form-group col-md-7">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign In</button>
            </form>
        </div>
    </div>

</body>

</html>